* {
    margin: 0;
    padding: 0;
}

#nav {
    background: green;
    height: 120%;
    width: 98%;
    margin-top: 1%;
    border-radius: 10px;
    margin-left: 1%;
    opacity: 0.;
}

img {
    border-radius: 100%;
    width: 6%;
    margin-top: 1%;
    margin-left: 1%;
}

#section {
    background: greenyellow;
    height: 500px;
    width: 50%;
    margin-top: 10%;
}

#footer {
    margin-top: 10%;
    background: greenyellow;
    height: 100px;
    width: 98%;
}